<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <title>Bootswatch: Simplex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
<!--	<link rel="stylesheet" type="text/css" href="bootstrap.css"/> -->
-	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="../bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </head>
  <body>
    <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
		  <div id="watermark" class="navbar-brand">
			<img src="https://www.gravatar.com/avatar/550254102153c961f9f90b52a3794e0f.png" width="50" height="50" alt="mbarga">
		  </div>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../help/">CV</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Projects</a>
            </li>
            <li>
              <a href="../help/">Contact</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>

	<div id="page">
      <div id="headshot">
        <img src="http://upload.wikimedia.org/wikipedia/commons/3/30/Ian-clarke-headshot-1.jpg" width="300" height="800">
      </div>
      <section id="main">
        <h1>matthew barga</h1>
        
        <p>Graduate student in computer science at The University of Tokyo.</p>
        
        <div class="footnote">
          <p>my footnote link: <a href="">2006-2010</a></p>
        </div>
  </div>
  </div>
  </div>
    
    {% include "footer.html" %}
  </body>
</html>

