/*   body {
font-size: 10px;
background: rgb(160,220,240);
color: rgba(0,0,0,0.5);
padding: 0;
margin: 0;
height: 100%;
width: 100%;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
 */
 
html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
	padding-top: 50px;
    padding-bottom: 200px;    /* height of footer */
}

#footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
 
#page {
	max-width: 24em;
	margin: 2em;
	/*  font-size: 1.6em;
  line-height: 1.4;
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, serif;*/
	-webkit-transition: all 0.25s ease-in;
}

#watermark {
	margin-bottom: 2em;
	display: block;
}

#headshot {
	display: none;
	overflow: hidden;
	width: 18em;
	height: 28.125em;
	position: absolute;
	top: 5.75em;
	right: 0;
	text-align: right;
	min-height: 500px;
}

#headshot img {
	width: auto;
	height: 100%;
}

#headshot .credit {
	position: absolute;
	right: 1em;
	bottom: 1em;
	margin: 0;
	font-size: 0.75em;
	color: rgba(255, 255, 255, 0.25);
	z-index: 1;
	font-family: 'Whitney A', 'Whitney B', Helvetica, sans-serif;
}

#headshot .credit a {
	color: rgba(255, 255, 255, 0.35);
}

#headshot .credit a:hover {
	color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 920px) {
	#headshot {
		display: block;
	}
}

@media screen and (min-width: 767px) {
	#page {
		margin-left: 4em;
		margin-right: 4em;
	}
	#headshot {
		right: 4em;
	}
}

@media screen and (min-height: 600px) {
	#page {
		margin-top: 4em;
		margin-bottom: 4em
	}
	#headshot {
		top: 8em;
	}
}

@media screen and (min-width: 1080px) {
	#page {
		margin-left: 8em;
		margin-right: 8em;
	}
	#headshot {
		right: 8em;
	}
}

@media screen and (min-height: 767px) {
	#page {
		margin-top: 8em;
		margin-bottom: 8em;
	}
	#headshot {
		top: 12em;
	}
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
	#headshot {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: auto;
		text-align: right;
		width: 42%;
		height: auto;
		min-height: 600px;
	}
	#headshot img {
		height: 100%;
		width: auto;
	}
	#headshot .credit {
		margin-right: 1.5em;
	}
}

@media screen and (min-width: 468px) {
	#page {
		font-size: 1.8em;
	}
}

@media screen and (min-width: 1685px) {
	#page {
		padding-left: 5em;
	}
	#headshot {
		margin-top: -3.5em;
	}
	#watermark {
		position: absolute;
		margin-left: -5em;
		margin-top: 0.7em;
	}
}

@media screen and (min-width: 1685px) and (min-height: 767px) {
	#page {
		font-size: 2.1em;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#watermark img {
		width: 25px;
		height: auto;
	}
}