<html>
  <head>
    <title>matthew.barga</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css"/>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Page not found</h1>	
    <p>Sorry, but the requested page could not be found.</p>
  </body>
</html>
