<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>matthew.barga</title>
		<link rel="shortcut icon" type="image/jpg" href="{{ STATIC_URL }}img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css"/>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="holder">
      <div id="body">
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>
