{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1></h1>
        <p class="lead">Send me an email at <a>mail [at] matthewbarga.com</a> or connect through <a href="http://linkedin.com/in/matthewbarga">LinkedIn</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6"> 
      <!--col-lg-offset-1">          -->

      <!--
      <div class="well">
        <form class="bs-example form-horizontal">
          <fieldset>
            <legend>Message</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Message</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">Please include your reply address in the email box provided.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button> 
                <button type="submit" class="btn btn-primary">Send</button> 
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      -->
    </div>
  </div>
</div>
{% endblock %}
