<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <li><a href="http://matthewbarga.com/blog/">Blog</a></li>
        <li><a href="https://gitlab.com/mbarga">GitLab</a></li>
        <li><a href="https://github.com/mbarga">GitHub</a></li>
				<!--<li><a href="https://speakerdeck.com/mbarga">SpeakerDeck</a></li>-->
        <li><a href="https://linkedin.com/in/matthewbarga">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
