<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
	  <a href="/" class="navbar-brand">mb</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li {% if request.path == '/home/' %} class="active"{% endif %}>
          <a href="{% url 'home' %}">About</a>
        </li>        
        <li {% if request.path == '/cv/' %} class="active"{% endif %}>
        <a href="{% url 'cv' %}">CV</a>
        </li>
        <li {% if request.path == '/projects/' %} class="active"{% endif %}>
        <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li {% if request.path == '/contact/' %} class="active"{% endif %}>
        <a href="{% url 'contact' %}">Contact</a>
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
        <!--
        <div id="watermark">
          <img src="https://www.gravatar.com/avatar/550254102153c961f9f90b52a3794e0f.png" width="45" height="45" alt="mbarga">
        </div>
        -->
        </li>
      </ul>
    </div>
  </div>
</div>
