{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1></h1>
        <!-- Talk conversationally  -->
        <p class="lead">Brief biography and personal interests</p>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-6">
      <p>Originally from the US, I moved to Tokyo in 2012 through the <a href="https://www.u-tokyo.ac.jp/en/prospective-students/mext_scholarship.html">MEXT</a> program to pursue a masters degree in computer science. After working for 4 years in Tokyo, I relocated to Berlin in 2018. Some things I have been up to recently in my free time are learning German, playing the violin, and traveling around Europe. A software engineer by day, I also like to program in my free time occasionally. Recently I have been interested in learning Kafka and Scala and have just completed the online Scala certification from EPFL.</p>
    </div>
    <!--
    <div class="col-lg-6">
      <div id="headshot">
        <img title="matthew barga biography picture" src="{{ STATIC_URL }}img/matthew_barga_biography.jpg" alt="matthew barga biography picture" width="800" height="622">
      </div>
    </div>
    -->
  </div>
</div>
{% endblock %}
