<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>matthew.barga</title>
		<link rel="shortcut icon" type="image/jpg" href="{{ STATIC_URL }}img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css"/>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="holder">
      <div id="body">
        <div class="container">
          <div class="page-header" id="banner">
            <div class="row">
              <div class="col-lg-6">
                <h1>matthew barga</h1>
                <p class="lead">software engineer and python developer in <a>Berlin</a></p>
                <p>feel free to <a href="{% url 'contact' %}" target="_top">contact</a> me or continue viewing my portfolio <a href="{% url 'home' %}">here</a></p>
              </div>
            </div>
          </div>
          <div id="headshot">
            <img title="matthew barga profile picture" src="{{ STATIC_URL }}img/matthew_barga_biography.jpg" alt="matthew barga profile picture" width="338" height="506">
          </div>
        </div>
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>

